.back{
background-image: url(sakura3.jpg);
background-size: cover;
background-attachment: fixed;
width: 1380px;
height: 230px;


}
.box{


text-align: center;
color: blue;
font-size: 1cm;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}

img{
    width:  75px;
    height: 70px;
    margin: 30px;
}